/* Reset margin and padding for all elements */
* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Space between content and profile image */
    font-family: 'Times New Roman', serif;
    line-height: 1;
    color: #333;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column; /* Stack header, nav, main, and footer */
    width: 100%; /* Ensure container fills left space */
}

.container_hori > {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/*... other styles ...*/

.header {
    background: #333;
    color: #fff;
    padding: 1rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent {
    /* If you want more control over the text alignment or spacing, add styles here */
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    line-height: 1.6;
    justify-content: space-between;
    align-items: center;
}

.profileImage {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: if you want round images */
    /* Adjust margin or padding as needed */
}

/*... other styles ...*/



.main-nav {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 0.5rem 0;
}



.main-nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}



.main-nav a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 800px) {
    body {
        flex-direction: column; /* Stack vertically on small screens */
    }

    .container, .profileImage {
        width: 100%; /* Full width on small screens */
        margin-left: 0; /* Align center */
    }

    .main-nav {
        flex-direction: column;
    }

    .header {
        flex-direction: column; /* Stacks the flex items vertically */
        align-items: flex-start; /* Align items to the start of the flex container */
    }
}
